/*Section 1 */
.section1
{
    position: absolute;
    width: 1920px;
    height: 1137px;
    left: 0px;
    top: 0px;
    background-image: url("./img/sky.png");
}

/* Section2 */
.section2
{
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 1137px;
    
   background-color: #63361A;
}
/*Landscape Image*/
#landscape
{
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 57px;

}
/*inside Section*/
.text
{
    position: absolute;
width: 525px;
height: 185px;
left: 697px;
top: 180px;

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 158px;
line-height: 185px;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FFFFFF;

    
}
/*** class used during Javascript ****/
